/* Fuentes y textos */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Romanesco&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFEFDF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem; /* Cambiado a unidades relativas */
    font-family: 'Romanesco', cursive;
    color: #000;
}

h2 {
    font-size: 2rem; /* Cambiado a unidades relativas */
    font-weight: 600;
    color: #000;
}

p {
    font-size: 1.25rem; /* Cambiado a unidades relativas */
    font-weight: 600;
    color: #000;
}

h3 {        
    font-size: 1rem; /* Cambiado a unidades relativas */
    font-weight: 600;
    color: #000;
    font-family: 'Inter', sans-serif;
}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    font-size: 1rem; /* Cambiado a unidades relativas */
    text-transform: uppercase; 
    color: #000;
}

/* Estilos de botones */
button {
    font-size: 1rem; /* Cambiado a unidades relativas */
    font-weight: 400;
    border-radius: 35px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-reservar,
.btn-condiciones {
    background-color: #A3A656;
    color: #fff;
}

.btn-reservar:hover,
.btn-condiciones:hover {
    background-color: #384001;
}

/* Menú */
nav {
    background-color: #A3A656;
    padding: 10px 20px; /* Ajuste de padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px; /* Ajuste de margen */
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem; /* Cambiado a unidades relativas */
}

nav ul li a:hover {
    color: #FFFF00;
}

.user-section {
    display: flex; /* Cambiado de inline-flex a flex */
    align-items: center;
}

.user-section img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.spacer {
    margin-right: 15px; /* Ajuste de margen */
}

.flag-section img {
    width: 45px;
    height: 30px;
    margin-left: 8px;
}

.busqueda-section img {
    width: 10px;
    height: 10px;
    margin-left: 0px;
}

/* Sección principal */
.main-content {
    text-align: left;
    padding: 10%; /* Ajuste de padding */
    background-image: url('material_tarea/images/main.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    color: #000;
}

.main-content h1 {
    margin: 0;
    padding: 0;
}

.main-content p {
    margin: 20px 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.25rem; /* Cambiado a unidades relativas */
}

/* Formulario de reserva */
.reservation-form {
    display: flex;
    flex-direction: column; /* Cambiado de row a column */
    align-items: center;
    padding: 0 20px; /* Ajuste de padding */
    background-color: #F2F6F6;
    height: auto; /* Cambiado de 100px a auto */
    gap: 10px; /* Añadir espacio entre elementos */
}

.reservation-form div {
    display: flex;
    flex-direction: column; /* Cambiado de row a column */
    align-items: flex-start; /* Alineación de inicio */
}

.reservation-form label {
    margin-bottom: 5px; /* Ajuste de margen */
    font-size: 1rem; /* Cambiado a unidades relativas */
    color: #000;
}

.reservation-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 35px;
    width: 100%; /* Ajuste de ancho */
}

.reservation-form input::placeholder {
    color: #9E9A9A; /* Color del texto placeholder */
    font-style: regular;
    font-size: 1rem; /* Cambiado a unidades relativas */
    font-family: 'Inter', sans-serif;
}

/* Sección de servicios */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Añadir espacio entre elementos */
}

.service-card {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    width: 100%; /* Cambiado a 100% */
    max-width: 300px; /* Máximo ancho */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px; /* Ajuste de margen */
}

.service-card img {
    width: 100%;
    height: auto; /* Ajuste de altura */
    object-fit: cover;
}

.service-card h3 {
    background-color: #A3A656;
    color: #fff;
    margin: 0;
    padding: 10px 0;
    font-size: 1.5rem; /* Cambiado a unidades relativas */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card p {
    padding: 10px;
    font-size: 1rem; /* Cambiado a unidades relativas */
    color: #000;
    text-align: center;
    flex-grow: 1;
}

.service-card .price-reserve-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.service-card .price {
    font-size: 1.5rem; /* Cambiado a unidades relativas */
    font-weight: bold;
    margin: 0;
}

.service-card button {
    margin: 0;
    padding: 10px 20px;
    font-size: 1rem; /* Cambiado a unidades relativas */
    font-weight: 400;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    background-color: #A3A656;
    color: #fff;
}

.service-card button:hover {
    background-color: #384001;
}

/* Sección de membresías */
.memberships {
    padding: 10px 20px; /* Ajuste de padding */
    background-color: #F2F6F6;
    text-align: center;
    display: flex;
    flex-direction: column; /* Cambiado a columna */
    align-items: center;
    gap: 20px; /* Añadir espacio entre elementos */
}

.memberships h2 {
    font-size: 2rem; /* Cambiado a unidades relativas */
    margin-bottom: 20px; /* Ajuste de margen */
}

.membership-card {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    width: 100%; /* Cambiado a 100% */
    max-width: 255px; /* Máximo ancho */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Ajuste de margen */
}

.circle-container {
    width: 100%; /* Cambiado a 100% */
    max-width: 255px; /* Máximo ancho */
    aspect-ratio: 1; /* Mantener proporción */
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #384001;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle-container img {
    width: 100%; /* Ajuste de ancho */
    height: auto; /* Ajuste de altura */
}

.membership-card h3 {
    margin: 20px 0;
    font-size: 1.5rem; /* Cambiado a unidades relativas */
}

.membership-card button {
    margin: 10px 0;
}

.membership-card ul {
    list-style-type: disc;
    padding: 10px 30px;
    margin: 10px 0;
    text-align: left;
}

/* Pie de página */
footer {
    background-color: #384001;
    padding: 10px 20px; /* Ajuste de padding */
    display: flex;
    flex-direction: column; /* Cambiado a columna */
    align-items: center;
    gap: 10px; /* Añadir espacio entre elementos */
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Cambiado a columna */
    align-items: center;
}

footer ul li {
    margin: 5px 0; /* Ajuste de margen */
}

footer ul li a {
    text-decoration: none;
    color: #DAD3B3;
    font-size: 1rem; /* Cambiado a unidades relativas */
}

footer ul li a:hover {
    color: #FFFF00;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px; /* Añadir espacio entre elementos */
}

.social-icons span {
    margin-right: 10px; /* Ajuste de margen */
    color: #DAD3B3;
    font-size: 1rem; /* Cambiado a unidades relativas */
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Media Queries */
@media (min-width: 600px) {
    .reservation-form {
        flex-direction: row;
    }

    .reservation-form div {
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
    }

    footer ul {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .main-content {
        padding: 10%;
    }

    .services {
        flex-wrap: nowrap;
    }

    .memberships {
        flex-direction: row;
    }

    .membership-card {
        max-width: 300px;
    }

    .circle-container {
        max-width: 300px;
    }
}
